AX_ID={{ID}}
AX_DOMAIN_BASE={{DOMAIN}}
AX_HOME={{CURDIR}}
AX_TZ_LOCAL={{AX_TZ_LOCAL}}
AX_TZ=Europe/Moscow

AX_WEB_PORT=1080
AX_MYSQL_PORT=3306
AX_GRAFANA_PORT=3000
AX_PROMETHEUS_PORT=9090
AX_CASSANDRA_PORT=9042

DOCKER_EXTERNAL_NETWORK={{ID}}_net
COMPOSE_PROJECT_NAME={{ID}}
